<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/yellowlist/save}">
        <input type="hidden" name="id" th:if="${yellowlist}" th:value="${yellowlist.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="end_date" placeholder="请输入结束时间" th:value="${yellowlist?.end_date}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入姓名" th:value="${yellowlist?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="phone" placeholder="请输入电话" th:value="${yellowlist?.phone}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="awatar" placeholder="请输入头像" th:value="${yellowlist?.awatar}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">识别照片</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="picture" placeholder="请输入识别照片" th:value="${yellowlist?.picture}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">识别记录</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="info" placeholder="请输入识别记录" th:value="${yellowlist?.info}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${yellowlist?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>