<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/emp/save}">
        <input type="hidden" name="id" th:if="${emp}" th:value="${emp.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">员工姓名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入员工姓名" th:value="${emp?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工部门id</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="dep_id" placeholder="请输入员工部门id" th:value="${emp?.dep_id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工职位id</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="wor_id" placeholder="请输入员工职位id" th:value="${emp?.wor_id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工头像</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="awatar" placeholder="请输入员工头像" th:value="${emp?.awatar}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">识别照片</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="picture" placeholder="请输入识别照片" th:value="${emp?.picture}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">识别记录</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="info" placeholder="请输入识别记录" th:value="${emp?.info}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="phone" placeholder="请输入手机号" th:value="${emp?.phone}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工类型</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="type_id" placeholder="请输入员工类型" th:value="${emp?.type_id}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${emp?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>